$primary-color:orange;
$secundary-color:green;
$tertiary-color:#eeeeee;
$primary-font-color:yellow;
$border-radius: 4px;

body{
        .menu1{
            height: 80px;
            background-color: blueviolet;
            color: $primary-font-color;
        }
        
        .menu2{
        height: 80px;
        background-color: rgb(234, 0, 255);
        color:black;
        }
        
        .section{
            height: 500px;
            background-color: burlywood;
            color:black;
            }
        .section2{
            height: 500px;
            background-color: bisque;
            color:black;   
            }
    
        nav{
        background-color: orange;
        padding: 10px;
        border-radius: 4px;
        list-style-type: none;
        
        a {
            width: 20%;
            display: inline-block;
            text-align: center;
            transition: 0.5s ease-out all;
        }
         /* unvisited link */
        a:link {
            color: black;
        }
        
        /* visited link */
        a:visited {
            color: black;
        }
        
        /* mouse over link */
        a:hover {
            color: red;
        }
        
        /* selected link */
        a:active {
            color: yellow;
        }     


    }

    footer {
                background: blue;
                color: white;
                padding: 5px;
                border-radius: 2px;
     }
     
    
}