$primary-color:rgb(9, 255, 0);
$secundary-color:green;
$tertiary-color:#eeeeee;
$primary-font-color:rgb(0, 255, 213);
$border-radius: 4px;
$opacity: 0.6%;

body{
    
     
    
        .menu1{
            height: 80px;
            background-color:  blueviolet;
            color: $primary-font-color;
            opacity: $opacity;
        }
        
        .menu2{
        height: 80px;
        background-color:  rgb(234, 0, 255);
        color:black;
        opacity: $opacity;
        }
        
    
        nav{
        background-color:  orange;
        opacity: $opacity;
        padding: 10px;
        border-radius: 4px;
        list-style-type: none;
        
        a {
            width: 20%;
            display: inline-block;
            text-align: center;
            transition: 0.5s ease-out;
        }
         /* unvisited link */
        a:link {
            color: black;
        }
        
        /* visited link */
        a:visited {
            color: black;
        }
        
        /* mouse over link */
        a:hover {
            color: red;
        }
        
        /* selected link */
        a:active {
            color: yellow;
        }     


    }
    

    footer {
                background: blue;
                color: white;
                padding: 5px;
                border-radius: 2px;
     }
     
    
}