body {
  background-image: url("logo-512.png"); }
  body .menu1 {
    height: 80px;
    background-color: blueviolet;
    opacity: 0,6%;
    color: #00ffd5; }
  body .menu2 {
    height: 80px;
    background-color: #ea00ff;
    opacity: 0,6%;
    color: black; }
  body nav {
    background-color: orange;
    opacity: 0,6%;
    opacity: 0.6%;
    padding: 10px;
    border-radius: 4px;
    list-style-type: none;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    body nav a {
      width: 20%;
      display: inline-block;
      text-align: center;
      transition: 0.5s ease-out; }
    body nav a:link {
      color: black;
      opacity: 0,6%; }
    body nav a:visited {
      color: black;
      opacity: 0,6%; }
    body nav a:hover {
      color: red;
      opacity: 0,6%; }
    body nav a:active {
      color: yellow;
      opacity: 0,6%; }
  body footer {
    background: blue;
    opacity: 0,6%;
    color: white;
    padding: 5px;
    border-radius: 2px; }
